@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 1100px;
  color: white;
  margin: auto;
  background-color: black;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
/* .right-box{
  background-image: url('../app/images/1687149525469_512.webp');
} */
.banner, .text{
   width: 100%;
  text-align: center;
  padding: 25px 0px;
  background-color: rgb(43, 35, 35);
  font-size: 35px;
  font-weight: 800;
  float: left;
}
.link1{
  width: 100%;
  float: left;
  font-size: 22px;
  color: black;
  background-color: white;
}
.anand{
  float: left;
  padding: 10px;
}
.about{
  padding-right: 10px;
}
.about, .contact, .skill{
padding: 5px;
  float: right;
}
.footer{
  width: 100%;
   text-align: center;
  padding: 25px 0px;
  background-color: rgb(65, 62, 62);
  font-size: 25px;
  font-weight: 800;
  float: left;
}